body{
	font-family: Roboto, sans-serif;
	font-size: 15px;
	margin: 0px;
}

.container{
	width: 1170px;
	margin: auto;
}
.header-section{
	background-color: #19283F;
	color: #A8B9C0;
	padding-bottom: 75px;
}
.header-section nav{
	padding-top:15px;	
}
.header-section nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 75px;
}
.header-section main{
	text-align: center;
}
.header-section h1{
	margin: 0px;
	line-height: 100%;
}
.menu{
	list-style: none;
	margin:0px;
}
.menu-item{
	display: inline-block;
	padding-right: 30px;
	line-height: 27px;
}	
.menu-item a{
	color: inherit;
	text-decoration: none;
}
.menu-item a:hover{
	color:#00C7C0;
}

	

